# Iris

### Step 1. 필요한 라이브러리 들을 import 하세요

In [1]:
import pandas as pd
import numpy as np

### Step 2.  다음 주소의 파일을 import 하세요 [address](https://raw.githubusercontent.com/myoh0623/dataset/main/iris.data).

### Step 3. iris 라는 변수에 DataFrame 을 할당하세요

In [2]:
url = 'https://raw.githubusercontent.com/myoh0623/dataset/main/iris.data'
iris = pd.read_csv(url)

### Step 4. 다음과 같은 순서로 columns을 만드세요

In [3]:

iris.columns = ["sepal_length",
"sepal_width",
"petal_length",
"petal_width",
"class"]

### Step 5. 데이터 프레임의 각컬럼 마다 누락된 값이 존재 합니까?

In [7]:
pd.isnull(iris).sum() #누락된 값의 갯수를 나타내준다. True이면 +1이 되기 때문에

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
class           0
dtype: int64

### Step 6. 'petal_length' 열의 10~29행 값을 `NaN`으로 설정하세요

In [8]:
iris.loc[10:30]["petal_length"] = np.nan #값만 호출

    sepal_length  sepal_width  petal_length  petal_width        class
10           4.8          3.4           1.6          0.2  Iris-setosa
11           4.8          3.0           1.4          0.1  Iris-setosa
12           4.3          3.0           1.1          0.1  Iris-setosa
13           5.8          4.0           1.2          0.2  Iris-setosa
14           5.7          4.4           1.5          0.4  Iris-setosa
15           5.4          3.9           1.3          0.4  Iris-setosa
16           5.1          3.5           1.4          0.3  Iris-setosa
17           5.7          3.8           1.7          0.3  Iris-setosa
18           5.1          3.8           1.5          0.3  Iris-setosa
19           5.4          3.4           1.7          0.2  Iris-setosa
20           5.1          3.7           1.5          0.4  Iris-setosa
21           4.6          3.6           1.0          0.2  Iris-setosa
22           5.1          3.3           1.7          0.5  Iris-setosa
23           4.8          3.4           1.9          0.2  Iris-setosa
24           5.0          3.0           1.6          0.2  Iris-setosa
25           5.0          3.4           1.6          0.4  Iris-setosa
26           5.2          3.5           1.5          0.2  Iris-setosa
27           5.2          3.4           1.4          0.2  Iris-setosa
28           4.7          3.2           1.6          0.2  Iris-setosa
29           4.8          3.1           1.6          0.2  Iris-setosa
30           5.4          3.4           1.5          0.4  Iris-setosa

In [13]:
iris.loc[10:30,"petal_length"] = np.nan #값을 직접적으로 바꿀 수 있다.
# iris.loc[10:30,2:3] = 1 #밑에 경고문이 뜨는데 다음버젼부터 이렇게 하면안된다고 한다.

### Step 7. `NaN` 값을 1.0 으로 대체 하세요

In [21]:
iris.petal_length.fillna(1, inplace=True) #inplace =True를 써주어야 진짜로 적용이된다 안해주면 안바뀜

### Step 8. class column을 삭제해 보세요

In [26]:
del iris["class"] # 메모리의 값을 삭제한다

### Step 9. 처음 3개 행을 NaN으로 설정하세요

In [29]:
# iris.loc[0:3]
iris.iloc[0:3] = np.nan
iris.head()

   sepal_length  sepal_width  petal_length  petal_width
0           NaN          NaN           NaN          NaN
1           NaN          NaN           NaN          NaN
2           NaN          NaN           NaN          NaN
3           5.0          3.6           1.4          0.2
4           5.4          3.9           1.7          0.4

### Step 10. NaN값이 있는 행을 삭제 하세요

In [31]:
# del은 행,열삭제등 전체내용을 지울때, drop은 값을 삭제할때 느낌!?
iris.dropna(inplace=True)
iris.head()

   sepal_length  sepal_width  petal_length  petal_width
3           5.0          3.6           1.4          0.2
4           5.4          3.9           1.7          0.4
5           4.6          3.4           1.4          0.3
6           5.0          3.4           1.5          0.2
7           4.4          2.9           1.4          0.2

### Step 11. index 를 0 부터 시작하도록 reset하세요

In [41]:
iris.reset_index(inplace=True,drop=True) #drop은 원래 인덱스 삭제

In [42]:
iris

     index  sepal_length  sepal_width  petal_length  petal_width
0        3           5.0          3.6           1.4          0.2
1        4           5.4          3.9           1.7          0.4
2        5           4.6          3.4           1.4          0.3
3        6           5.0          3.4           1.5          0.2
4        7           4.4          2.9           1.4          0.2
..     ...           ...          ...           ...          ...
141    144           6.7          3.0           5.2          2.3
142    145           6.3          2.5           5.0          1.9
143    146           6.5          3.0           5.2          2.0
144    147           6.2          3.4           5.4          2.3
145    148           5.9          3.0           5.1          1.8

[146 rows x 5 columns]