# Ex1 - Filtering and Sorting Data

Check out [Chipotle Exercises Video Tutorial](https://youtu.be/ZZPiWZpdekA) to watch a data scientist go through the exercises

### Step 1. 필요한 라이브러리를 import 하세요

In [1]:
import pandas as pd
import numpy as np

### Step 2. 다음 경로의 dataset을 import 하세요 [address](https://raw.githubusercontent.com/myoh0623/dataset/main/chipotle.tsv).

In [2]:
url ='https://raw.githubusercontent.com/myoh0623/dataset/main/chipotle.tsv'

### Step 3. Assign it to a variable called chipo.

In [3]:
chipo = pd.read_csv(url, sep='\t')
# 참고 확장자가 csv가 아니라 tsv파일
# tsv 부르는 법

In [336]:
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [4]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [6]:
chipo.shape

(4622, 5)

### Step 4. $10.00 이상인 제품이 몇 개 있습니까?
#### 같은 항목이면 비싼 물품 기준

In [36]:
# item_price의 값들을 float으로 변경해 보세요

# 나의 코드 근데 아까는 item_price가 한번 더 들어갔는데 왜 이제는 괜찮지?
chipo["item_price"]=chipo["item_price"].str.replace(pat=r'$', repl=r'', regex=True)

In [40]:
chipo.item_price[0] # '$2.39 ' 라서 $를 없애줘야한다.

'$2.39 '

In [7]:
# 강사님 코드
# float으로 바꾸기
# float(chipo.item_price[0][1:])
chipo.item_price = pd.Series(map(lambda x : float(x[1:]), chipo.item_price))
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

In [9]:
# 강사님 코드
# 주문횟수 1 그리고 10달러 이상인 것들 뽑기
one_list = (chipo.quantity ==1) & (chipo.item_price >= 10)
chipo[one_list].item_name.nunique() #nunique는 item_name이 겹치지 않는 애들을 가져온다

25

In [16]:
# 강사님코드
# 품목별로 묶고 max값 df 저장
# 저장한 값에서 10달러 이상인 것 값 세기
df = chipo.groupby("item_name").max() 
len(df[df.item_price >=10])

31

In [14]:
df

,order_id,quantity,choice_description,item_price
item_name,,,,
6 Pack Soft Drink,129,1,[Coke],6.49
Barbacoa Bowl,19,1,"[Fresh Tomato (Mild), [Lettuce, Black Beans, R...",8.69
Barbacoa Burrito,11,1,"[Fresh Tomato (Mild), [Black Beans, Rice, Sour...",8.69
Barbacoa Crispy Tacos,75,1,"[Fresh Tomato Salsa, Guacamole]",8.99
Barbacoa Salad Bowl,501,1,"[Fresh Tomato Salsa, Guacamole]",9.39
Barbacoa Soft Tacos,26,1,"[Fresh Tomato Salsa, [Black Beans, Cheese, Let...",8.99
Bottled Water,17,1,NaN,1.09
Bowl,193,1,"[Adobo-Marinated and Grilled Steak, [Sour Crea...",7.40
Burrito,214,1,"[Adobo-Marinated and Grilled Chicken, Pinto Be...",7.40
Canned Soda,9,1,[Coca Cola],1.09
Canned Soft Drink,114,1,[Coke],1.25
Carnitas Bowl,17,1,"[Fresh Tomato (Mild), [Guacamole, Lettuce, Ric...",8.99
Carnitas Burrito,14,1,"[Fresh Tomato (Mild), [Lettuce, Black Beans, G...",8.69
Carnitas Crispy Tacos,230,1,"[Fresh Tomato Salsa (Mild), [Cheese, Lettuce]]",8.99
Carnitas Salad,1500,1,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",8.99
Carnitas Salad Bowl,468,1,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",9.39
Carnitas Soft Tacos,103,1,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",8.99
Chicken Bowl,2,1,"[Fresh Tomato (Mild), [Guacamole, Rice]]",8.19
Chicken Burrito,8,1,"[Fresh Tomato (Mild), [Black Beans, Rice, Sour...",8.19
Chicken Crispy Tacos,6,1,"[Fresh Tomato Salsa (Mild), Fajita Veggies]",8.49
Chicken Salad,109,1,"[Fresh Tomato Salsa (Mild), Black Beans]",8.19
Chicken Salad Bowl,20,1,"[Fresh Tomato Salsa, Fajita Vegetables]",8.75
Chicken Soft Tacos,6,1,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",8.49
Chips,19,1,NaN,1.99
Chips and Fresh Tomato Salsa,1,1,NaN,2.29
Chips and Guacamole,5,1,NaN,3.89
Chips and Mild Fresh Tomato Salsa,279,1,NaN,3.00
Chips and Roasted Chili Corn Salsa,102,1,NaN,2.95
Chips and Roasted Chili-Corn Salsa,85,1,NaN,2.39
Chips and Tomatillo Green Chili Salsa,18,1,NaN,2.95
Chips and Tomatillo Red Chili Salsa,49,1,NaN,2.95
Chips and Tomatillo-Green Chili Salsa,1,1,NaN,2.39
Chips and Tomatillo-Red Chili Salsa,130,1,NaN,2.39
Crispy Tacos,217,1,[Adobo-Marinated and Grilled Chicken],7.40
Izze,1,1,[Blackberry],3.39
Nantucket Nectar,1,1,[Apple],3.39
Salad,575,1,"[Brown Rice, Adobo-Marinated and Grilled Chick...",7.40
Side of Chips,3,1,NaN,1.69
Steak Bowl,25,1,"[Fresh Tomato (Mild), [Guacamole, Lettuce, Pin...",8.69
Steak Burrito,4,1,[Brown Rice],8.69
Steak Crispy Tacos,40,1,"[Fresh Tomato (Mild), [Lettuce, Cheese]]",8.69
Steak Salad,276,1,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",8.69
Steak Salad Bowl,123,1,"[Fresh Tomato Salsa, Lettuce]",9.39
Steak Soft Tacos,4,1,"[Fresh Tomato Salsa (Mild), [Cheese, Sour Cream]]",8.99
Veggie Bowl,28,1,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",8.49
Veggie Burrito,26,1,"[Fresh Tomato Salsa (Mild), [Black Beans, Faji...",8.49
Veggie Crispy Tacos,668,1,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49
Veggie Salad,686,1,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
Veggie Salad Bowl,83,1,"[Fresh Tomato Salsa, [Fajita Vegetables, Black...",8.75
Veggie Soft Tacos,304,1,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",8.49

In [338]:
chipo[chipo.item_price >= 10].count()
# 1130개

order_id              1130
quantity              1130
item_name             1130
choice_description    1123
item_price            1130
dtype: int64

### Step 5. 각 품목의 가격은 얼마입니까?
###### item_name 과 item_price 만 출력하시오

In [341]:
one_qu=chipo[chipo.quantity ==1]

In [346]:
# 어쩔때 min,max를 쓰는거지?
one_qu.groupby("item_name").min().sort_values(by="item_price",ascending=False)

,order_id,quantity,choice_description,item_price
item_name,,,,
Steak Salad Bowl,250,1,"[Fresh Tomato Salsa, Lettuce]",9.39
Barbacoa Salad Bowl,501,1,"[Fresh Tomato Salsa, Guacamole]",9.39
Carnitas Salad Bowl,468,1,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",9.39
Carnitas Soft Tacos,103,1,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",8.99
Carnitas Crispy Tacos,230,1,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",8.99
Steak Soft Tacos,4,1,"[Fresh Tomato Salsa (Mild), [Cheese, Sour Cream]]",8.99
Carnitas Salad,1500,1,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",8.99
Carnitas Bowl,17,1,"[Fresh Tomato (Mild), [Guacamole, Lettuce, Ric...",8.99
Barbacoa Soft Tacos,26,1,"[Fresh Tomato Salsa, [Black Beans, Cheese, Let...",8.99
Barbacoa Crispy Tacos,75,1,"[Fresh Tomato Salsa, Guacamole]",8.99
Veggie Salad Bowl,83,1,"[Fresh Tomato Salsa, [Fajita Vegetables, Black...",8.75
Chicken Salad Bowl,20,1,"[Fresh Tomato Salsa, Fajita Vegetables]",8.75
Steak Burrito,4,1,[Brown Rice],8.69
Steak Crispy Tacos,40,1,"[Fresh Tomato (Mild), [Lettuce, Cheese]]",8.69
Steak Salad,276,1,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",8.69
Carnitas Burrito,14,1,"[Fresh Tomato (Mild), [Lettuce, Black Beans, G...",8.69
Steak Bowl,25,1,"[Fresh Tomato (Mild), [Guacamole, Lettuce, Pin...",8.69
Barbacoa Burrito,11,1,"[Fresh Tomato (Mild), [Black Beans, Rice, Sour...",8.69
Barbacoa Bowl,19,1,"[Fresh Tomato (Mild), [Lettuce, Black Beans, R...",8.69
Chicken Soft Tacos,6,1,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",8.49
Veggie Bowl,28,1,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Blac...",8.49
Veggie Burrito,26,1,"[Fresh Tomato Salsa (Mild), [Black Beans, Faji...",8.49
Veggie Soft Tacos,304,1,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49
Chicken Crispy Tacos,6,1,"[Fresh Tomato Salsa (Mild), Fajita Veggies]",8.49
Veggie Crispy Tacos,668,1,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49
Veggie Salad,686,1,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
Chicken Salad,109,1,"[Fresh Tomato Salsa (Mild), Black Beans]",8.19
Chicken Burrito,8,1,"[Fresh Tomato (Mild), [Black Beans, Rice, Sour...",8.19
Chicken Bowl,3,1,"[Fresh Tomato (Mild), [Guacamole, Rice]]",8.19
Crispy Tacos,217,1,[Adobo-Marinated and Grilled Chicken],7.40
Burrito,214,1,"[Adobo-Marinated and Grilled Chicken, Pinto Be...",7.40
Bowl,279,1,"[Adobo-Marinated and Grilled Steak, [Sour Crea...",7.40
Salad,575,1,"[Brown Rice, Adobo-Marinated and Grilled Chick...",7.40
6 Pack Soft Drink,129,1,[Coke],6.49
Chips and Guacamole,5,1,NaN,3.89
Izze,1,1,[Blackberry],3.39
Nantucket Nectar,1,1,[Apple],3.39
Chips and Mild Fresh Tomato Salsa,279,1,NaN,3.00
Chips and Tomatillo Red Chili Salsa,49,1,NaN,2.95
Chips and Tomatillo Green Chili Salsa,18,1,NaN,2.95
Chips and Roasted Chili Corn Salsa,102,1,NaN,2.95
Chips and Tomatillo-Red Chili Salsa,130,1,NaN,2.39
Chips and Tomatillo-Green Chili Salsa,1,1,NaN,2.39
Chips and Roasted Chili-Corn Salsa,85,1,NaN,2.39
Chips and Fresh Tomato Salsa,1,1,NaN,2.29
Chips,19,1,NaN,1.99
Side of Chips,3,1,NaN,1.69
Canned Soft Drink,114,1,[Coke],1.25
Canned Soda,14,1,[Coca Cola],1.09
Bottled Water,17,1,NaN,1.09

In [160]:
# 각 품목의 가격.. 품목별 가격 이니까 group by?
a =chipo.groupby("item_name")[['item_price']].mean()

In [163]:
a.sort_values(by="item_price",ascending=False)

                                       item_price
item_name
Bowl                                    14.800000
Steak Salad Bowl                        11.847931
Chicken Salad Bowl                      11.170455
Carnitas Crispy Tacos                   11.137143
Carnitas Salad Bowl                     11.056667
Barbacoa Crispy Tacos                   10.928182
Carnitas Bowl                           10.833971
Steak Bowl                              10.711801
Barbacoa Salad Bowl                     10.640000
Veggie Soft Tacos                       10.565714
Steak Burrito                           10.465842
Veggie Bowl                             10.211647
Steak Crispy Tacos                      10.209714
Barbacoa Bowl                           10.187273
Veggie Salad Bowl                       10.138889
Carnitas Burrito                        10.132712
Chicken Bowl                            10.113953
Chicken Burrito                         10.082857
Chicken Crispy Tacos                    10.045319
Barbacoa Soft Tacos                     10.018400
Veggie Burrito                           9.839684
Barbacoa Burrito                         9.832418
Steak Soft Tacos                         9.746364
Chicken Soft Tacos                       9.635565
Carnitas Soft Tacos                      9.398500
Chicken Salad                            9.010000
Carnitas Salad                           8.990000
Steak Salad                              8.915000
Veggie Crispy Tacos                      8.490000
Veggie Salad                             8.490000
Burrito                                  7.400000
Crispy Tacos                             7.400000
Salad                                    7.400000
6 Pack Soft Drink                        6.610185
Chips and Guacamole                      4.595073
Nantucket Nectar                         3.641111
Izze                                     3.390000
Chips and Fresh Tomato Salsa             3.285091
Chips and Tomatillo Green Chili Salsa    3.087209
Chips and Roasted Chili Corn Salsa       3.084091
Chips and Tomatillo Red Chili Salsa      3.072917
Chips and Mild Fresh Tomato Salsa        3.000000
Chips and Tomatillo-Red Chili Salsa      2.987500
Chips and Tomatillo-Green Chili Salsa    2.544194
Chips and Roasted Chili-Corn Salsa       2.390000
Chips                                    2.342844
Bottled Water                            1.867654
Side of Chips                            1.840594
Canned Soft Drink                        1.457641
Canned Soda                              1.320577

In [17]:
# 강사님 코드
chipo[["item_name","item_price"]].groupby("item_name").min()

                                       item_price
item_name
6 Pack Soft Drink                            6.49
Barbacoa Bowl                                8.69
Barbacoa Burrito                             8.69
Barbacoa Crispy Tacos                        8.99
Barbacoa Salad Bowl                          9.39
Barbacoa Soft Tacos                          8.99
Bottled Water                                1.09
Bowl                                         7.40
Burrito                                      7.40
Canned Soda                                  1.09
Canned Soft Drink                            1.25
Carnitas Bowl                                8.99
Carnitas Burrito                             8.69
Carnitas Crispy Tacos                        8.99
Carnitas Salad                               8.99
Carnitas Salad Bowl                          9.39
Carnitas Soft Tacos                          8.99
Chicken Bowl                                 8.19
Chicken Burrito                              8.19
Chicken Crispy Tacos                         8.49
Chicken Salad                                8.19
Chicken Salad Bowl                           8.75
Chicken Soft Tacos                           8.49
Chips                                        1.99
Chips and Fresh Tomato Salsa                 2.29
Chips and Guacamole                          3.89
Chips and Mild Fresh Tomato Salsa            3.00
Chips and Roasted Chili Corn Salsa           2.95
Chips and Roasted Chili-Corn Salsa           2.39
Chips and Tomatillo Green Chili Salsa        2.95
Chips and Tomatillo Red Chili Salsa          2.95
Chips and Tomatillo-Green Chili Salsa        2.39
Chips and Tomatillo-Red Chili Salsa          2.39
Crispy Tacos                                 7.40
Izze                                         3.39
Nantucket Nectar                             3.39
Salad                                        7.40
Side of Chips                                1.69
Steak Bowl                                   8.69
Steak Burrito                                8.69
Steak Crispy Tacos                           8.69
Steak Salad                                  8.69
Steak Salad Bowl                             9.39
Steak Soft Tacos                             8.99
Veggie Bowl                                  8.49
Veggie Burrito                               8.49
Veggie Crispy Tacos                          8.49
Veggie Salad                                 8.49
Veggie Salad Bowl                            8.75
Veggie Soft Tacos                            8.49

### Step 6. item_name으로 정렬하세요

In [173]:
chipo.sort_values(by="item_name")

,order_id,quantity,item_name,choice_description,item_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49
...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49

,order_id,quantity,item_name,choice_description,item_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],$12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],$6.49
1849,749,1,6 Pack Soft Drink,[Coke],$6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],$6.49
2713,1076,1,6 Pack Soft Drink,[Coke],$6.49
...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",$8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",$8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",$8.49

### Step 7. 가장 비싼 품목의 주문 수량은 몇개입니까?

In [22]:
very=chipo.sort_values(by="item_price",ascending=False)

In [23]:
very

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25
3480,1398,3,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",35.25
1254,511,4,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",35.00
3602,1443,4,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",35.00
3601,1443,3,Veggie Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",33.75
...,...,...,...,...,...
3936,1578,1,Canned Soda,[Diet Dr. Pepper],1.09
2922,1162,1,Bottled Water,NaN,1.09
1396,567,1,Canned Soda,[Coca Cola],1.09
2562,1014,1,Canned Soda,[Coca Cola],1.09
1457,591,1,Canned Soda,[Sprite],1.09

In [24]:
very.iloc[[0]]

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

In [21]:
# 강사님 코드
chipo.sort_values(by ="item_price",ascending=False).head(1)

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

In [26]:
# 단품이 비싼걸 찾아내려면
chipo["single_price"] = chipo["item_price"]/chipo["quantity"]

In [28]:
chipo.sort_values(by ="single_price",ascending=False).head(1)

,order_id,quantity,item_name,choice_description,item_price,single_price
2442,970,1,Barbacoa Salad Bowl,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.89,11.89

### Step 8. Veggie Salad Bowl은 몇번 주문 되었습니까?

In [244]:
chipo[chipo["item_name"] == "Veggie Salad Bowl"].count()

order_id              18
quantity              18
item_name             18
choice_description    18
item_price            18
dtype: int64

In [32]:
# 강사님 코드
chipo_salad = chipo[chipo.item_name == "Veggie Salad Bowl"]
len(chipo_salad)

18

In [245]:
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 9. Canned Soda를 두 개 이상 주문한 횟수는 몇번입니까?

In [261]:
chipo[chipo["item_name"] == "Canned Soda"]

      order_id  quantity    item_name choice_description item_price
18           9         2  Canned Soda           [Sprite]     $2.18
28          14         1  Canned Soda       [Dr. Pepper]     $1.09
51          23         2  Canned Soda     [Mountain Dew]     $2.18
53          24         1  Canned Soda           [Sprite]     $1.09
107         47         1  Canned Soda       [Dr. Pepper]     $1.09
...        ...       ...          ...                ...        ...
3897      1562         1  Canned Soda     [Mountain Dew]     $1.09
3926      1575         1  Canned Soda       [Dr. Pepper]     $1.09
3936      1578         1  Canned Soda  [Diet Dr. Pepper]     $1.09
4008      1604         1  Canned Soda        [Diet Coke]     $1.09
4051      1621         1  Canned Soda           [Sprite]     $1.09

[104 rows x 5 columns]

In [304]:
# 방법 1 : 길어서 한개 변수에 할당하고 끊어서 적용하기
soda = chipo[chipo.item_name == "Canned Soda"]

In [307]:
soda[soda["quantity"] >=2].count()

order_id              20
quantity              20
item_name             20
choice_description    20
item_price            20
dtype: int64

In [308]:
# 방법 2 : 그냥 줄줄 이어쓰기
chipo[chipo.item_name == "Canned Soda"][chipo[chipo.item_name == "Canned Soda"]["quantity"] >=2].count()

order_id              20
quantity              20
item_name             20
choice_description    20
item_price            20
dtype: int64

In [35]:
# 강사님 코드
chipo_drink = chipo[(chipo.item_name =="Canned Soda") & (chipo.quantity >=2)]
print(chipo_drink.shape) # 20번 주문

(20, 6)